<form action="/weather" method="POST" class="form-weather">
  <div class="input-container">
    <input type="text" name="cityName" id="city" required>
  </div>
  <div class="btn-container">
    <input type="submit" value="Submit">
  </div>
  </form>